*{
margin:0;
padding:0;
font-family: 'popins' , Sans-Serif;
}
body{
  background-color:rgb(0,0,33);
color:white;

  
}
nav{
  display:flex;
  justify-content:space-around;
  align-items: center;
  background-color: rgb(0,0,60);
  height:80px;
}
ul{
  list-style: none;
  display:flex;
  text-decoration: none;
}
.right{
  display: flex;
  justify-content:space-around;
  
}
.left{
  margin-top:16px;
  font-size: 1.5rem;
}
a{
  text-decoration: none;
  color :white;
}
#leftbody{
margin:2rem;
background-color: red;
}
.two{
  display:flex;
  justify-content: space-around;
  text-align: inline;
  margin-top:23px;
  margin-bottom: 0px;
  
  
  
}
.two > div{
  width:30%;
}
.leftsection{
  margin-top:100px;
font-size: 2.3rem;
}
.rightsection{
margin-top:50px;
margin-bottom :50px;
}
nav div ul li :hover{
  color:lavender;
  font-size:17px;
}
hr{
  border:0;
  height:0.4px;
  background-color:#9c97f9;
  margin :40px 80px;
  margin:100px;
}
#bottom{
  margin-left:50px;
  height:80vw;
}
#grey
{
  font-size:1rem;
  color:grey;
}
 .box{
  background:white;
  margin:56px 0;
  height:1px;
  width:80vw;
  font-size:10px;
  
}
 .vertical{
  height:93px ;
  width:1px ;
  background-color:white;
  display:flex;
  align-items: center;
  
 
  
}
.img{
  width:25px;
  margin-left:20px;
   margin-right:20px;
}
footer div{
  font-size:15px;
  color:grey;
  display :flex;
  justify-content:center;
  margin-bottom:30px;
  
  height:5vw;
}

